.sidebar {
  width: 375px;
  box-sizing: border-box;
  font-size: 14px;
}

.sidebar .sidebar-title {
  padding-left: 16px;
}

.sidebar-item-container {
  padding: 16px 32px;
}

.upnext-song-list-container .sidebar-item-container {
  padding-bottom: 200px;
}

.sidebar .related-song-list-container .related-songs-list {
  max-height: 200px;
  overflow-y: auto;
  background: #f5f5f5;
}

@media (max-width: 959px) {
  .sidebar {
    width: 100vw;
  }
}

@media (min-width: 960px) {
  .sidebar {
    display: block !important;
  }
}
