.video-card-grid .video-thumb {
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.video-card-grid .video-thumb .thumb-overlay {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 0;
  left: 0;
  border-top: 1.2em solid #fff;
  border-bottom: 1.2em solid #fff;
  outline-offset: -1px;
  outline: 2px solid #fff;
}

.video-card-grid .video-thumb .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.video-card-grid .video-meta {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.video-card-grid .video-meta .video-title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 2px;
  cursor: pointer;
}

.video-card-grid .video-meta .video-channel, .video-card-grid .video-meta .video-views {
  font-size: 11px;
}
