.playlist-complete {
  margin-bottom: 45px;
}

.playlist-title {
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0 0 10px;
}

.video-grid-card {
  margin: 10px;
}
video-grid-card > img:hover, .button {
  cursor: pointer;
}
.video-grid-details {
  height: 70px;
}

.video-grid-title {
  display: flex;
  flex-flow: row;
  font-size: 13px;
  font-weight: 800;
  max-height: 40px;
  overflow: hidden;
}

.video-grid-uploader {
  opacity: 0.9;
  font-size: 12px;
}

.video-grid-views {
  opacity: 0.8;
  font-size: 11px;
}

.video-grid-title-title {
  width: 90%;
}

.video-grid-title-add {
  width: 10%;
  top: 0;
  margin-top: 4px;
}
