body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.title-deco {
  text-transform: uppercase;
}

.title-deco-sm {
  font-size: 14px;
}

.title-deco:after {
  margin-top: 5px;
  content: "";
  height: 4px;
  display: block;
  width: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #F44336 0%, #FFA726 100%);
}

.title-deco.title-deco-sm:after {
  width: 30px;
}


.page {
  display: flex;
  flex-flow: column;
}

.page-top {
  /*height: 50px;*/
}

.page-middle {
  min-height: calc(100vh - 100px);
}

.page-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5px;
  background-color: #faa;
}

.page .page-middle {
  margin-top: 120px;
}
