body {
  margin: 0;
}

.page {
  display: flex;
  flex-flow: column;
}

.page-top {
  /*height: 50px;*/
}

.page-middle {
  min-height: calc(100vh - 100px);
}

.page-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5px;
  background-color: #faa;
}
