body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.title-deco {
  text-transform: uppercase;
}

.text-color-grey87 {
  color: rgba(0, 0, 0, 0.87);
}

.font-size-14 {
  font-size: 14px;
}

.font-size-11 {
  font-size: 11px;
}

.title-deco-sm {
  font-size: 14px;
}

.title-deco:after {
  margin-top: 5px;
  content: "";
  height: 4px;
  display: block;
  width: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #F44336 0%, #FFA726 100%);
}

.title-deco.title-deco-sm:after {
  width: 30px;
}


.page {
  display: flex;
  flex-flow: column;
}

.page-top {
  /*height: 50px;*/
}

.page-middle {
  min-height: calc(100vh - 100px);
}

.page-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5px;
  background-color: #faa;
}

.page .page-middle {
  margin-top: 80px;
}

.uk-container.content-container {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 375px;
}

.sidebar-container {
  padding-top: 40px;
  top: 80px;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  min-height: 100vh;
  right: 0;
  border-left: 1px solid #0000001f;
}

@media (max-width: 960px) {
  .uk-container.content-container {
    margin-right: auto;
  }
}
