body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.title-deco {
  text-transform: uppercase;
}

.text-color-grey87 {
  color: rgba(0, 0, 0, 0.87);
}

.font-size-14 {
  font-size: 14px;
}

.font-size-11 {
  font-size: 11px;
}

.title-deco-sm {
  font-size: 14px;
}

.title-deco:after {
  margin-top: 5px;
  content: "";
  height: 4px;
  display: block;
  width: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, #F44336 0%, #FFA726 100%);
}

.title-deco.title-deco-sm:after {
  width: 30px;
}


.page {
  display: flex;
  flex-flow: column;
}

.page-top {
  /*height: 50px;*/
}

.page-middle {
  min-height: calc(100vh - 100px);
}

.page-bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid #c6d6dba8;
  transform: translateY(0);
  transition: transform 0.5s;
}

.page .page-middle {
  margin-top: 72px;
}

.uk-container.content-container {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 375px;
}

.sidebar-container {
  padding-top: 40px;
  top: 72px;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  min-height: 100vh;
  right: 0;
  border-left: 1px solid #0000001f;
  background-color: white;
}

@media (max-width: 960px) {
  .uk-container.content-container {
    margin-right: auto;
  }
}


@media (max-width: 639px) {
  .anyaudio-search-container {
    min-height: 72px;
  }

  .uk-container.content-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .playlist-complete .uk-grid {
    margin-left: -15px;
  }

  .playlist-complete .uk-grid>* {
    padding-left: 15px;
  }
}
