.search-heading {
 margin-bottom: 30px;
}

.video-card-list-list {
  margin: 0 0 60px 0;
}

.video-card-list {
  width: inherit;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  max-width: 687px;
  margin-bottom: 20px;
}

.video-card-list-data {
  display: flex;
}

.video-card-list-thumb {
  min-width: 80px;
  min-height: 80px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-size: cover;
  position: relative;
}

.video-card-list .video-thumb .play-btn {

}


.video-card-list-details {
  display: flex;
  flex-flow: column;
  margin: 2px 0 0 10px;
}

.video-card-list-time {
  color: #f00;
  font-size: 10px;
}

.video-card-list-title {
  font-weight: 500;
  font-size: 14px;
  color: #000000de;
}

.video-card-list-uploader, .video-card-list-views {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.55);
}
